:root {
    --bg-color: #0f0e17;
    --second-bg-color: #f3f0f0;
    --text-color: #0e0b0b;
    --main-color: #f8f7f5;
}

.darkMode {
    --bg-color: #353434;
    --second-bg-color: #383333;
    --text-color: #ffffff;
    --main-color: #353434;
} 

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--second-bg-color);    
}

inquiry {
    position: relative;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
}
p, h3 {
    position: relative;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
}

textarea {
    width: 445px;
    height: 100px;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    margin-top: 25px;
}

.header {
    background-color: var(--main-color);
    margin: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    border-bottom: 20px double black;
    z-index: -1;
}

.banner {
    position: relative;
    font-size: 40px;
    color: var(--text-color);
    font-weight: 600;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back {
    display: none;
}

#dark-mode-toggle {
    position: relative;
    font-size: 45px;
    color: var(--text-color);
    cursor: pointer;
}

.center-line {
    position: absolute;
    left: 40%;
    top: 91px;
    bottom: -425px;
    width: 0;
    border-left: 12px double black;
    content: '';
}

.page {
    display: flex;
    background-color: var(--second-bg-color);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.display-container {
    margin: 50px auto;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.display-img {
    max-width:80%;
} 

footer h3 {
    width: 100%;
    justify-content: space-around;
    display: grid;
    padding: 0px 0px;
    background: var(--second-bg-color);
}